# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# pipenv
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
# option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# User-specific stuff
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf

# *.iml
# .idea/modules.xml
# .idea/misc.xml
# .idea/vcs.xml
# *.ipr

# Cache file creation bug
# See https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

